#layout .ant-layout-footer {
    color: rgba(250, 246, 246, 0.65);
    font-size: 14px;
    background: #001529;
    height: 64px;
}
#layout .ant-layout-header {
    height: 64px;
    padding: 0 50px;
    line-height: 64px;
    /* background: #93bd6c; */
}
#layout .ant-layout-header li{
    margin: 0 50px;
}
#layout .ant-menu{
     height: 64px;
    line-height: 64px;
}
.detail div{
    padding:10px
}
.detail div img{
    width:200px;
    height:150px
}